.games {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
  gap: 30px;
  .cardGame {
    color: whitesmoke;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 20px;

    p {
      margin-bottom: 20px;
    }
    img {
      width: 80%;
      border: 5px solid whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      float: left;
      margin: 15px;
      -webkit-transition: margin 0.5s ease-out;
      -moz-transition: margin 0.5s ease-out;
      -o-transition: margin 0.5s ease-out;
      &:hover {
        margin-top: 2px;
      }
    }
  }
}
