@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Palatino Linotype';
  src: url('../public/assets/pala.ttf');
}
*{
  font-family: 'Bebas Neue', cursive;
  list-style: none;
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    color: whitesmoke;
  }
}
body{
  background-image: url(https://i.imgur.com/jty72j8.jpg);
  background-position: center;
  background-attachment: fixed;

}